<app-navbar></app-navbar>
<!doctype html>
<html lang='en'>

    <head>
        
        <!-- Meta Tags -->
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>One Vice</title>
        
        <!-- Opengraph Metatags -->
        <meta property='og:type' content='website'>
        <meta property='og:title' content='One Vice' />
        <meta property='og:description' content='.' />
        <meta property='og:url' content='https://vcmp.net/' />
        <meta property='og:image' content='' />
        <meta content='#337AB7' data-react-helmet='true' name='theme-color'>
    </head>

    <div>

        <!-- Header -->
        
        <!-- Body -->
        
        <div class='main-content'>
            <div class='logo'></div>
        </div>

        <!-- end Body -->

        <!-- Footer -->
        <div class='footer'>
            
        </div>

    </div>

</html>
