<app-navbar></app-navbar>
<!doctype html>
<html lang='en'>

    <head>
        
        <!-- Meta Tags -->
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>One Vice</title>
        
        <!-- Opengraph Metatags -->
        <meta property='og:type' content='website'>
        <meta property='og:title' content='One Vice' />
        <meta property='og:description' content='.' />
        <meta property='og:url' content='https://vcmp.net/' />
        <meta property='og:image' content='' />
        <meta content='#337AB7' data-react-helmet='true' name='theme-color'>
    </head>

    <body>

        <!-- Header -->
        <div class='navbar' id='sidebar' [ngStyle]="{'display': isMobile === 'true' ? 'block' : 'none' }">
          
         <!--   <button id='close-button' onclick='sidebar_close()'><i class='fas fa-times'></i> Close</button>-->

            <span class='navbar-item selected'> Homepage</span>
            <span class='navbar-item'><a href='' class='an-underline'>Hosting</a></span>
            <span class='navbar-item'><a href='' class='an-underline'>Servers</a></span>
            <span class='navbar-item'><a href='' class='an-underline'>Featured</a></span>
            <span class='navbar-item'><a href='' class='an-underline'>Forums</a></span>
            <span class='navbar-item'><a href='' class='an-underline'>Discord</a></span>

            <span class='download-button'>Download</span>

        </div>
<!--        <button id='open-button' (click)='sidebar_open()'><i class='fas fa-clone'></i></button>-->
        
        <!-- Body -->
        
        <div class='main-content'>
            <div class='logo'></div>
        </div>

        <!-- end Body -->

        <!-- Footer -->
        <div class='footer'>
            
        </div>

    </body>

</html>
